
<div id="playarea">

<img src="/images/minigame/target.png" id="archery" alt="target" width="60" height="60" usemap="#Map" onmouseover="document.body.style.cursor='crosshair';" onmouseout="document.body.style.cursor='pointer';" />

<map name="Map" id="Map">
	<area shape="circle" coords="30,30,6" onclick="camel_minigame.increaseScore(5);" alt="bullseye" onmouseover="document.body.style.cursor='crosshair';" onmouseout="document.body.style.cursor='pointer';"/>
	<area shape="circle" coords="30,30,12" onclick="camel_minigame.increaseScore(4);" alt="red" onmouseover="document.body.style.cursor='crosshair';" onmouseout="document.body.style.cursor='pointer';"/>
	<area shape="circle" coords="30,30,18" onclick="camel_minigame.increaseScore(3);" alt="blue" onmouseover="document.body.style.cursor='crosshair';" onmouseout="document.body.style.cursor='pointer';"/>
	<area shape="circle" coords="30,30,25" onclick="camel_minigame.increaseScore(2);" alt="black" onmouseover="document.body.style.cursor='crosshair';" onmouseout="document.body.style.cursor='pointer';"/>
	<area shape="circle" coords="30,30,30" onclick="camel_minigame.increaseScore(1);" alt="white" onmouseover="document.body.style.cursor='crosshair';" onmouseout="document.body.style.cursor='pointer';"/>
</map></div>


